{% extends "base.html" %}

{% block title %}Liste des clubs{% endblock %}
{% block page_title %}Liste des clubs <a href="/club/new" class="btn-action">➕ Ajouter un club</a>{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Sport</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for club in clubs %}
        <tr>
            <td>{{ club.id }}</td>
            <td>{{ club.nom }}</td>
            <td>{{ club.sport_nom }}</td>
            <td>
                <a class="btn-edit" href="/club/{{ club.id }}/edit">✏️ Modifier</a>
                <a class="btn-delete" href="/club/delete/{{ club.id }}">🗑 Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}