{% extends "base.html" %}

{% block title %}Modifier une note{% endblock %}
{% block page_title %}Modifier la note{% endblock %}
{% block breadcrumb %}<a href="/note/">Liste des Notes</a> / Modifier{% endblock %}

{% block content %}
<form method="post">

    <label>ID Élève</label>
    <input type="number" name="eleve_id" value="{{ note.eleve_id }}" required>

    <label>ID Prof</label>
    <input type="number" name="prof_id" value="{{ note.prof_id }}" required>

    <label>Cours</label>
    <select name="cours_id" required>
        {% for c in cours %}
            <option value="{{ c.id }}" {% if c.id == note.cours_id %}selected{% endif %}>
                {{ c.nom }}
            </option>
        {% endfor %}
    </select>

    <label>Note</label>
    <input type="number" step="0.01" name="note_valeur" value="{{ note.note }}" required>

    <button type="submit">Modifier</button>
</form>
{% endblock %}